<ion-view id="setup">
    <ion-nav-bar>
        <ion-nav-back-button>
            <i class="icon ion-chevron-left"></i>后退
        </ion-nav-back-button>
        <ion-nav-title><h3>基本设置</h3></ion-nav-title>
    </ion-nav-bar>
    <ion-content class="setup">
        <list>
            <div class="item  item-icon-left item-icon-right setup-item">
                <a href="#">
                    <div class="icon ion-android-person"></div>
                    <i>个人账户</i>
                    <div class="icon ion-chevron-right"></div>
                </a>
            </div>
            <div class="item  item-icon-left item-icon-right setup-item">
                <a href="#">
                    <div class="icon ion-android-star"></div>
                    <i>查看收藏笔记</i>
                    <div class="icon ion-chevron-right"></div>
                </a>
            </div>
            <div class="item  item-icon-left item-icon-right setup-item">
                <a href="#">
                    <div class="icon ion-calendar"></div>
                    <i>我的单词本</i>
                    <div class="icon ion-chevron-right"></div>
                </a>
            </div>
            <div class="item  item-icon-left item-icon-right setup-item">
                <a href="#">
                    <div class="icon ion-android-more-horizontal"></div>
                    <i>更多</i>
                    <div class="icon ion-chevron-right"></div>
                </a>
            </div>
        </list>
    </ion-content>
</ion-view>