<ion-view id="login">
    <ion-nav-bar>
        <ion-nav-back-button>
            <i class="icon ion-chevron-left"></i>后退
        </ion-nav-back-button>
        <ion-nav-title><h3>登录有道词典</h3></ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div class="img"><img src="images/1_03.png"/> </div>
        <p>请选择登录方式：</p>
        <div class="qq div">
            <div>
                <img src="images/login-icon_03.png"/>
                <span><a href="#">QQ登录</a> </span>
            </div>
        </div>
        <div class="xinlang div">
            <div>
                <img src="images/login-icon_07.png"/>
                <span><a href="#">新浪微博登录</a> </span>
            </div>
        </div>
        <div class="wangyi div">
            <div>
                <img src="images/login-icon_11.png"/>
                <span><a href="#">网页邮箱登录</a> </span>
            </div>
        </div>
        <h4><a href="#">注册网易邮箱</a> </h4>
    </ion-content>
</ion-view>