<ion-view id="video">
    <ion-nav-bar class="video-header">
        <ion-nav-back-button>
            <i class="icon ion-chevron-left"></i>后退
        </ion-nav-back-button>
        <ion-nav-title><h3>看视频</h3></ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <list>
            <div class="item video-item"   ng-repeat="product in products">
                <img ng-src="{{product.img}}"/>
                <h4>{{product.content}}</h4>
            </div>
        </list>
        <ion-infinite-scroll on-infinite="loadMore()" immediate-check="false"></ion-infinite-scroll>
    </ion-content>
</ion-view>