<ion-view id="columns">
    <ion-nav-bar class="columns-header">
        <ion-nav-back-button>
            <i class="icon ion-chevron-left"></i>后退
        </ion-nav-back-button>
        <ion-nav-title><h3>全部栏目</h3></ion-nav-title>
    </ion-nav-bar>
    <ion-content class="columns-content">
        <div class="original">
            <h2>原创精选</h2>
            <ul>
                <li><a href="#">老外看东西</a> </li>
                <li><a href="#">歪果仁说</a> </li>
                <li><a href="#">歪果日报</a> </li>
                <li><a href="#">云单词</a> </li>
                <li><a href="#">芝士来了</a> </li>
                <li><a href="#">漫画英语</a> </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="learning">
            <h2>语言学习</h2>
            <ul>
                <li><a href="#">听英语</a> </li>
                <li><a href="#">练口语</a> </li>
                <li><a href="#">读美文</a> </li>
                <li><a href="#">来翻译</a> </li>
                <li><a href="#">趣英文</a> </li>
                <li><a href="#">看视频</a> </li>
                <li><a href="#">每日一句</a> </li>
                <li><a href="#">奥运金句</a> </li>
                <li><a href="#">找学伴</a> </li>
                <li><a href="#">日语</a> </li>
                <li><a href="#">韩语</a> </li>
                <li><a href="#">英语播客</a> </li>
                <li><a href="#">E口同声</a> </li>
                <li><a href="#">懂热词</a> </li>
                <li><a href="#">今天热词</a> </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="world">
            <h2>世界大观</h2>
            <ul>
                <li><a href="#">奇闻趣事</a> </li>
                <li><a href="#">旅行</a> </li>
                <li><a href="#">时尚</a> </li>
                <li><a href="#">图集</a> </li>
                <li><a href="#">文化</a> </li>
                <li><a href="#">娱乐</a> </li>
                <li><a href="#">影视</a> </li>
                <li><a href="#">音乐发烧友</a> </li>
                <li><a href="#">萌宠</a> </li>
                <li><a href="#">科技</a> </li>
                <li><a href="#">留学</a> </li>
                <li><a href="#">体坛</a> </li>
            </ul>
        </div>
        <div class="world">
            <h2>备考干货</h2>
            <ul>
                <li><a href="#">四六级</a> </li>
                <li><a href="#">GRE</a> </li>
                <li><a href="#">考研</a> </li>
                <li><a href="#">雅思</a> </li>
            </ul>
        </div>
        <div class="clear"></div>
    </ion-content>
</ion-view>